# Ignore bundler config.
/.bundle

# Ignore .rspec
/.rspec

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Dotenv files
/.env
/.env.*

# Ignore test files
/coverage

# Ignore Public files
/public/assets

# Ignore ERD files
/erd.pdf

# Ignore generated doc
/doc/flap

# Ignore Deploy files
/deploy/application.production.conf
/deploy/application.staging.conf
