!!! 5
%html
  %head= render 'layouts/common/head', assets_for_layout: 'devise/application'

  %body
    .container
      .row
        .col-md-6.col-md-offset-3
          .login-panel.panel.panel-default
            .panel-heading
              %h3.panel-title= page_title format: ':title'
            .panel-body
              #flash-messages= render_flashes
              = yield
